<a href="/movies">Back</a>
<img src="{{movie.image}}" alt="movie-poster">
<h1>{{movie.title}}</h1>
<hr>
<p>Director: {{movie.director}}</p>
<p>Stars:</p>
<ul>
    {{#each movie.stars}}
        <li>{{this}}</li>
    {{/each}}
</ul> 
<p>{{movie.description}}</p>
{{#each movie.showtimes}}
    <p>{{this}} |</p>
{{/each}}